<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>drafts5-icon.bw.png</string>
			<key>Service Name</key>
			<string>Send to Drafts</string>
			<key>Title</key>
			<string>Send to Drafts</string>
		</dict>
	</array>

<!-- Check that Drafts is installed -->

	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.agiletortoise.Drafts-OSX</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://getdrafts.com/</string>
			<key>Name</key>
			<string>Drafts</string>
		</dict>
	</array>


	<key>Extension Description</key>
	<string>Make a new draft in Drafts for Mac with the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.jjarava.popclip.extension.drafts-mac</string>
	<key>Extension Name</key>
	<string>Drafts</string>
	<key>Required OS Version</key>
	<string>10.7</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
